<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="TestDB" connectionString="Data Source=DESKTOP-86D962U;Initial Catalog=dmitriichuk_kp;Integrated Security=True" />
  <add name="WindowsFormsApp1.Properties.Settings.dmConnectionString"
   connectionString="Data Source=DESKTOP-86D962U;Initial Catalog=dm;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="WindowsFormsApp1.Properties.Settings.dmitriichuk_kpConnectionString"
   connectionString="Data Source=DESKTOP-86D962U;Initial Catalog=dmitriichuk_kp;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>